body{
	color: #333;
}

.tweets-container{
	max-width: 568px;
	width: auto;
	margin: auto;
	position: relative;
}

header{
	text-align: center;
	padding: 5px;
	border-bottom: 1px solid #ddd;
}
header h1{
	font-size: 1.2em;
	font-weight: bold;
	margin: 0;
}

#desc{
	font-size: .7em;
	margin: 0;
}

.header-link{
	position: absolute;
	top: 0;
	padding: 10px;
	font-size: 24px;
	line-height: 20px;
	color: inherit;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	transition: opacity .3s;
	opacity: .5;

}
.header-link:hover{
	opacity: 1;
}
.header-link-right{
	right: 0;
}
.header-link-left{
	left: 0;
}

#search-form{
	padding: 5px;
	background-color: #eee;
	position: relative;
	border-bottom: 1px solid #ddd;
}
#search-form .form-control{
	padding-left: 28px;
	font-size: 16px;
}
#search-form i.fa{
	position: absolute;
	top: 0;
	line-height: 44px;
	left: 15px;
	color: #999;
}

.well-box h2{
	font-size: 16px;
	font-weight: bold;
	margin: 0;
}
.well-box h2 small{
	font-size: .8em;
}

.toggle-tweets-nav{
	color: #333;
	display: block;
	padding: 10px;
	line-height: 1em;
	border-bottom: 1px solid #ddd;
}
.toggle-tweets-nav:focus{
	outline: 0;
}
.toggle-tweets-nav:hover,
.toggle-tweets-nav:focus{
	text-decoration: none;
}
.toggle-tweets-nav i.fa{
	line-height: 1em;
	opacity: .5;
	-webkit-transform: scaleY(1);
	-moz-transform: scaleY(1);
	transform: scaleY(1);
	-webkit-transition: -webkit-transform .3s;
	-moz-transition: -moz-transform .3s;
	transition: transform .3s;
}
.toggle-tweets-nav.open i.fa{
	-webkit-transform: scaleY(-1);
	-moz-transform: scaleY(-1);
	transform: scaleY(-1);
}

#tweets-nav{
	background-color: #eee;
	padding: 10px 0;
	border-bottom: 1px solid #ddd;
	line-height: 1em;
}
#tweets-nav ul{
	border-top: 1px solid #ddd;
}
#tweets-nav ul li a{
	display: block;
	background-color: #fff;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}
#tweets-nav ul li.active a{
	font-weight: bold;
	color: #333;
}
#tweets-nav ul li a:hover{
	text-decoration: none;
}
#tweets-nav a{
	position: relative;
	overflow: hidden;
}
#tweets-nav .n{
	font-weight: normal;
	float: right;
	color: #aaa;
}
#tweets-nav .p{
	background-color: rgba(0,0,0,.03);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}
#tweets-nav.hidden{
	position: absolute;
	-webkit-transform: scaleY(0);
	-moz-transform: scaleY(0);
	-ms-transform: scaleY(0);
	-o-transform: scaleY(0);
	transform: scaleY(0);

}

.tweets-list{
	min-height: 220px;
	margin: 0;
}
.tweets-list.loading{
	background: transparent url(../images/loader.gif) no-repeat center 100px;
}
.tweets-list li{
	border-bottom: 1px solid #eee;
	min-height: 50px;
	padding: 10px;
	line-height: 1.3em;
}
.tweets-list li .u-photo{
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 48px;
	height: 48px;
	background-color: #eee;
}
.tweets-list li .p-author a{
	color: #333;
	text-decoration: none;
}
.tweets-list li .p-author a:hover .p-name{
	text-decoration: underline;
}
.tweets-list li a .p-nickname,
.tweets-list li  .permalink{
	color: #999;
	font-size: 12px;
}
.tweets-list li p{
	margin: 0;
	padding: 0;
}
.tweets-list li .content-footer{
	font-size: .9em;
	color: #999;
}
.tweets-list li .content-footer a{
	color: #999;
}
.tweets-list .tweet-body{
	margin-left: 58px;
}
.tweets-list .media-content a{
	margin-top: 4px;
}
.tweets-list .media-content img{
	max-width: 99%;
	box-shadow: 0 0 2px #ccc;
	margin: 0 2px 2px;
}

.more-link{
	outline: 0;
	display: block;
	padding: 25px 10px 35px;
	color: #999;
	text-align: center;
}
.more-link:hover{
	color: #333;
	text-decoration: none;
}
.more-link.hide{
	display: none;
}

.more-link.loading{
	pointer-events: none;
	text-indent: -999em;
	background: transparent url(../images/loader.gif) no-repeat center;
}

.float-left{
	float: left;
	margin-right: 10px;
}
.float-right{
	float: right;
	margin-left: 10px;
}

#results-nada{
	text-align: center;
	padding: 20px 10px;
	position: absolute;
	width: 100%;
}

#lightbox-cover{
	opacity: 0;
	position: fixed;
	left: -100%;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: rgba(0,0,0,.6);
	-webkit-transition: opacity .2s;
	-moz-transition: opacity .2s;
	transition: opacity .2s;
}
#lightbox-cover.show{
	left: 0;
	opacity: 1;
}

#lightbox{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	text-align: center;
	font-size: 0;
}
#lightbox.show{
	display: block;
}
#lightbox:before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
#lightbox img{
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
	margin: 10px 0 0;
}

.media{
	width: 100%;
}

img.emoji{
	width: 16px;
	margin: 0 2px;
}

@media (min-width:569px){
	body{
		background-color: #f0f0f0;
	}
	header{
		margin: 2em 0;
		border: 0;
	}
	header h1{
		margin: 0 50px;
		font-size: 26px;
	}
	#desc{
		font-size: 14px;
	}
	.well-box{
		background-color: #fff;
		box-shadow: 0 0 1px #aaa;
	}
	.toggle-tweets-nav{
		padding: 15px 10px;
	}
	#search-form{
		float: right;
		background-color: transparent;
		border: 0;
	}
	#search-form .form-control{
		width: 240px;
	}
}

/* http://girliemac.com/blog/2012/08/03/resolution-in-media-queries/ */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
	.tweets-list.loading{
		background-size: 24px 24px;
	}
	.more-link.loading{
		background-size: 20px 20px;
	}
}

@-ms-viewport{
	width: device-width;
	zoom: 1.0;
}

@viewport{
	width: device-width;
	zoom: 1.0;
}
