<li class="route-month-{{key}}">
	<a href="{{url}}">
		<span class="m">{{month_year}}</span>
		<span class="n">{{total}}</span>
		<span class="p" style="width: {{total_width}}"></span>
	</a>
</li>